@import './variables.scss';

body {
    margin: 0;
    background: $bg-main;
    color: $light;
    font-family: 'Merienda',
        cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container {
    margin: 0 auto;
    padding: 0;

    @media (max-width: 1460px) {
        max-width: 1200px;
    }

    @media (max-width: 1220px) {
        max-width: 992px;
    }

    @media (max-width: 1020px) {
        max-width: 768px;
    }

    @media (max-width: 790px) {
        max-width: 576px;
    }

    @media (max-width: 600px) {
        max-width: 100%;
        padding: 0 5px;
    }
}