@import './variables.scss';

body {
    margin: 0;
    background: $bg-header;
    color: $light;
    font-family: 'Merienda',
        cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    min-height: 410px;
    margin: 0 auto;
    padding: 0;
    background-color: $bg-main;
}

@media (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 540px;
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}

::selection {
    background-color: $select-color;
    color: #ffffff;
}

::-moz-selection {
    background-color: $select-color;
    color: #ffffff;
}