.header {
    background: #fff;
    padding: 10px 200px;
}

.logo {
    img {
        display: block;
        width: 110px;
        height: 90px;
        object-fit: cover;
        border-radius: 7%;
    }
}