@import '../styles/variables.scss';

.sidebar {
    margin: 20px;
    width: 220px;
    height: 330px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: $bg-header;
}

.title {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
}

nav {
    padding: 0 10px;
}

ul {
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    padding-bottom: 10px;
}

.link {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}