@import '../styles/variables.scss';

.footer {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $bg-header;
    padding: 20px 0;
    font-size: 14px;
    color: #666;
}

.logo {
    margin-left: 15px;
    flex-shrink: 0;

    img {
        display: block;
        width: 110px;
        height: 90px;
        object-fit: contain;
        border-radius: 7%;
    }
}

.rights {
    display: inline-block;

    a {
        color: #666;
        text-decoration: none;
        font-weight: 500;

        &:hover {
            text-decoration: underline;
            color: $light;
        }
    }
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 110px;
    height: 100%;
    margin-right: 40px;

    a {
        display: block;
        width: 24px;
        height: 24px;
    }

    .icon {
        width: 24px;
        height: 24px;
        fill: #666;

        &:hover {
            fill: $dark;
        }
    }
}